body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.unselected{
	height: 100px;
	width: 100px;
	background-color: #86cdeb;
	display: inline-block;
	text-align: center;
	padding-top: 30px;
	margin-right: 10px;
}
.selected {
	height: 150px;
	width: 100px;
	background-color: #d24726;
}
#switch.right {

}
#switch.left {

}