extends layout

block content
  div(id="title1")=title
  form(name="startinput" action="/submit" method = "post")
    input(type="hidden" name="user" value="Sharon")

    p
      input(id="transportation" type="hidden" value = "none" name = "transportation")
      div(id="taxi")
      div(id="transit")
      //div(id="taxilabel") Taxi
      //div(id="tranlabel") Public Transit
    p
      div(id="inform") I'm a student at &nbsp;
        input(type="text" id="school" name="school" placeholder="School ")  
    p
      input(type="text" id="location1" name="location1" placeholder="School ")
      button(id="switch" value="switch" class="right" style="margin-left:65px;margin-right:65px;")  
      input(type="text" id="location2" name="location2" placeholder="Destination ")
    p
      div(id="leavetext") I need to leave by
      br
      input(id = "date" type="hidden" name = "date")
      input(id="currentdate" type="hidden" name = "currentdate")
      table
        tr
          td
            div(id="week1" class="weekblock") 1
          td
            div(id="week2" class="weekblock") 2
          td
            div(id="week3" class="weekblock") 3
          td
            div(id="week4" class="weekblock") 4
          td
            div(id="week5" class="weekblock") 5
          td
            div(id="week6" class="weekblock") 6
          td
            div(id="week7" class="weekblock") 7
        tr
          td
            div(id="1" class="unselected") 1
          td
            div(id="2" class="unselected") 2
          td
            div(id="3" class="unselected") 3
          td
            div(id="4" class="unselected") 4
          td
            div(id="5" class="unselected") 5
          td
            div(id="6" class="unselected") 6
          td
            div(id="7" class="unselected") 7
    p 
      div(id="at") at
      input(type="text" id="hours" name="hours" placeholder="Hours")
      span &nbsp;:&nbsp;
      input(type="text" id="minutes" name="minutes" placeholder="Minutes")
      div(id="ampm") AM
      input(type="hidden" id="ampmin" name="ampm" value="am")
    p
      div(id="submitbutton")
        input(type="submit" value="Submit" class = "btn btn-default")
