extends layout

block content
  h1= title
  form(name="startinput" action="/submit" method = "post")
    p
      div I'm a student at 
        input(type="text" name="school" placeholder="School")  
    p
      input(type="text" name="location1" placeholder="School")
      button(id="switch" value="switch" onclick="javascript:return false;") switch
      input(type="text" name="location2" placeholder="Destination")
    p
      div I need to leave by
    p
      input(type="hidden" name = "date")
      - for (var i=0; i<7; i++) {
          button(id=i onclick="javascript:return false;") i
      - }
    p at
    p
      input(type="text" name="hours" placeholder="Hours")
      span &nbsp;:&nbsp;
      input(type="text" name="minutes" placeholder="Minutes")
    p
      input(type="submit" value="Submit" class = "btn btn-default")

