doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src = 'https://code.jquery.com/jquery.js')
    script(src = 'bootstrap.js')
    link(href = 'bootstrap.css' rel="stylesheet")
  body
    block content
